
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="carddetail card text-white bg-secondary mb-3" style="max-width: 30rem; padding:20px margin:18px">
  <div class="card-body">
    <img src="https://img.icons8.com/office/48/000000/contacts.png"/>
    <link rel="stylesheet" href="/public/css/style.css">
    <br>
    <h5>E-mail: {{peop.email}}</h5>
    <br>
    <h5 class="card-title" >Nome: {{peop.name}}</h5>
    <br>
    <h5 class="card-title">CPF:  {{peop.taxpayer}}</h5>
    <br>
    <h5 class="card-title">Idade:  {{peop.idade}}</h5>
  </div>
     <a class="botao-detail" href="/people/" class="link-info"><button class="btn btn-info">Voltar</button></a> 
    <br>
    <a class="btn btn-danger col-sm-3" "col-sm-2" href="/people/edit/{{peop.id}}">Editar</a>      
  
</div>














